RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Gmail SMTP
SPRING_MAIL_USERNAME=daniarjarkyn@gmail.com
SPRING_MAIL_PASSWORD=htpyspfoqqgowjek

# Telegram bot
TELEGRAM_BOT_TOKEN=8334147872:AAFZzTlDvRA71S5Q3EC47QyIbYSbfck900M
TELEGRAM_BOT_NAME=MyCoolNotifier_bot