# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Gmail SMTP (use App Password)
SPRING_MAIL_USERNAME=openweserver@gmail.com
SPRING_MAIL_PASSWORD=YOUR_APP_PASSWORD

# Telegram bot
TELEGRAM_BOT_TOKEN=8334147872:AAFZzTlDvRA71S5Q3EC47QyIbYSbfck900M
